<header>
    <nav>
        <div class="logoDiv">
            <p>Logo</p>

        </div>
        <div class="navDiv">

            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="/send-email">Contact Us</a></li>
                <li><a href="/api/v1/user/logout">Logout</a></li>

                
            </ul>
        </div>
    </nav>
</header>