<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
    <link rel="stylesheet" href="/css/index.css">

</head>
<body>
    <%- include("./partials/header")%>
    <h1 class="heading">Welcome to todo application</h1>
    <form  class="formMain">
        <a href="/api/v1/user/register">Not registered? Click to Register</a>
        <a href="/api/v1/user/login">Not logged in? Click to Login</a>
    </form>
    <%- include("./partials/footer")%>
    
</body>
</html>